/* Обнуление стилей */

*,
*::before,
*::after {
    padding: 0px;
	margin: 0px;
	border: 0;
    /*размеры вычисляются, не включая границы и отступы*/
	box-sizing: border-box;
}

a  {
    text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

/* теги принимают на себя общий дизайн шрифта - наследуют родительский */
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

/* img имеет свойства строчного элемента, что в свою очередь означает, что элемент будет выравниваться по базовой линии текста
эта базовая линия предусмотрена под запятые, хвосты букв и тд, оттого и отступ */
/* для отсутствия снизу артефактного отступа, так как изображение по умолчанию display: inline-block, 
либо через подключение vertical-align - вертикального выравнивания */
img {
	vertical-align: top;
}

html,
body {
    min-height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #fafafa;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
  }

.wrapper {
    min-height: 100%;
    overflow: hidden;
    /*располагаем все блоки последовательно - header, main, footer*/
    display: flex;
    flex-direction: column;
}

/*контейнер, не относящийся к БЭМ-методологии, технический - под контент*/
._container {
    max-width: 1046px;
    /* выстраивание блока посередине, ширина этого блока(1046px) должна быть меньше родительской */
    margin: 0px auto; 
    /*размеры вычисляются, включая границы и отступы + добавление padding для отсутствия прилипания к краю экрана*/
	box-sizing: content-box;
    padding: 0px 15px;
}

/*технический класс для фоновых изображений*/
._ibg  {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*-----------------------------------------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /*больший индекс выдвигает блок на первый план*/
    z-index: 50;
}
.header__container {
    display: flex;
    /*по дизайну в фигме*/
    min-height: 104px;
    align-items: center;
}
/*меньшая высота шапки при меньшем размере экрана*/
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    /*ссылки не наследуют цвет - нужно указать явно*/
    color: inherit;
}
.header__menu {
    margin: 0px 0px 0px 133px;
}
/*до 992px - устройства с маленьким экраном: планшеты*/
@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
/*для мобильных устройств*/
@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}
/*уменьшаем отступ для увеличения шрифта пунктов меню*/
@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}
.menu {
    /*отступы безопасности против "прилипания" элементов меню к верху экрана*/
    padding: 5px 0px;
}
.menu__list {
    display: flex;
    /*для переноса элементов шапки - предусматриваем добавление пунктов меню в будущем*/
    flex-wrap: wrap;
}
.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}
.menu__link {
    color: #737373;
    font-weight: 600;
    /*Pixel (Px) = (Percent * Base)/100*/
    line-height: 171%;
    /*line-height: calc(24/14*100)*/
}
/*легче попадать по большему размеру пунктов меню*/
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}
/*------------------------------------------------------------------------------------*/
.page {
    /*flex элементы с большим количеством содержимого будут больше(относительный размер flex элементов)*/
    flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
/*------------------------------------------------------------------------------------*/
.header_block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header_block__title {
    font-size: 40px;
    /*line-height не наследуется от блока .header_block*/
    line-height: calc(57 / 40 * 100%);
    font-weight: 700;
}
.header_block__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.header_block__subtitle {
    color: #737373;
    line-height: calc(57 / 40 * 100%);
}
/* при уменьшении экрана уменьшаем размер шрифта заголовков */
@media(max-width: 992px) {
    .header_block__title {
        font-size: 35px;
    }
}
@media(max-width: 767px) {
    .header_block__title {
        font-size: 30px;
    }
}
/*------------------------------------------------------------------------------------*/
.footer {

}
/*------------------------------------------------------------------------------------*/
.main-block {
    position: relative;
}
.main-block__container {
}
.main-block__body {
    /*отступы под контент по дизайну*/
    padding: 184px 0px 191px 0px;
    /*выносим контент на передний план(иначе будет скрыт за картинкой): position: relative + z-index*/
    position: relative;
    z-index: 2;
    /*ограничитель под контент(по дизайну было другое значение, 
    но мы можем менять исходя из того, что по дизайну другое отображение текста)*/
    max-width: 400px;
}
@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}
/*отступ для всех объектов(блочных) первого уровня, которые будут находиться в .main-block__body*/
/*контент меняется, а вёрстка остаётся адаптивной и страница визуально выглядит очень хорошо, 
даже если начать убирать элементы из .main-block__body*/
.main-block__body >*:not(:last-child) {
    padding: 0px 0px 35px 0px;
}
.main-block__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
    font-weight: 800;
}
@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}
.main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
}
@media(max-width: 992px) {
    .main-block__text {
        color: #585757;
    }
}
.main-block__buttons {
    display: flex;
}
/*"универсальная" верстка кнопочек - подстраиваются под размер контента*/
.main-block__button {
    border-radius: 37px;
    min-height: 48px;
    letter-spacing: 0.2px;
    font-weight: 700;
    /*по дизайну было вычислено 200%, но мы можем на своё усмотрение изменить до меньшего размера, чтобы визуально было лучше*/
    line-height: 150%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 36px;
}
.main-block__button:not(:last-child) {
    margin: 0px 10px 0px 0px;
}
.main-block__button_orange {
    background: #ff7b47;
    color:#fff;
}
.main-block__button_border {
    color: #0d5c63;
    border: 1px solid #0d5c63;
}
/*позиционирование непосредственно самого блока, который содержит картинку*/
.main-block__image {
    /*position: absolute относительно .main-block*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*отображение людей при маленьких размерах экранов*/
@media(max-width: 1300px) {
    .main-block__image img{
        object-position: right;
    }
}
/*выбеливаем картинку для читабельности текста*/
@media(max-width: 992px) {
    .main-block__image {
        opacity: 0.5;
    }
}
/*------------------------------------------------------------------------------------*/
.services {
}
.services__container {
}
.services__body {
    display: flex;
    /*margin + padding(15px) + flex = лайфхак для того, чтобы задать нужное расстояние между блоками и сделать блоки одинаковой ширины*/
    margin: 0px -15px;
}
/*для планшетов и меньших экранов - делаем перенос блоков*/
@media (max-width: 992px) {
    .services__body {
        flex-wrap: wrap;
    }
}
/*для смартфонов - выстраиваем блоки не в ряд, а в столбец*/
@media (max-width: 670px) {
    .services__body {
        flex-direction: column;
    }
}
.services__column {
    flex: 0 1 33.333%;
    padding: 0px 15px;
}
/*расположение 3 блоков в 2 строки: 1 строка - 2 блока по 50% ширины, 2 строка - 1 блок 100% ширины*/
@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }
    .services__column:last-child {
        flex: 1 1 100%;
    }
    .services__column:not(:last-child) {
        /* добавляем 30px снизу для предотвращения прилипания блоков при меньших размерах экрана*/
        margin: 0px 0px 30px 0px;
    }
}
.services__item {
    /*выравнивание блоков по высоте */
    height: 100%;
    background: #FFF;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    padding: 35px;
}
@media(max-width: 479px) {
    .services__item {
        padding: 25px;
    }
}
.item-service {
}
.item-service > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.item-service_green {
    background: #0d5c63;
}
.item-service_green .item-service__title {
    color: #fff;
}
.item-service_green .item-service__text {
    color: #fff;
}
.item-service__icon {
}
.item-service__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
}
.item-service__text {
    color: #737373;
    line-height: calc(20 / 14 * 100%);
}
/*------------------------------------------------------------------------------------*/
.advantages {
    padding: 80px 0;
}
/* при уменьшении размеров экрана уменьшаем отступы */
@media(max-width: 992px) {
    .advantages {
        padding: 50px 0;
    }
}
@media(max-width: 767px) {
    .advantages {
        padding: 30px 0;
    }
}
.advantages__container {
}
/*использование элемента в качестве модификатора, для которого МОЖНО задать отступ(для блока .header_block НЕЛЬЗЯ)*/
/*у всех блоков, которые наследуют .header_block, нижний margin будет разным*/
.advantages__header {
    margin: 0px 0px 50px 0px;
}
/* при уменьшении размеров экрана уменьшаем отступ снизу */
@media(max-width: 767px) {
    .advantages__header {
        margin: 0px 0px 25px 0px;
    }
}
.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin:  0px -15px -30px;
}
.advantages__column {
    padding: 0px 15px;
    margin: 0px 0px 30px 0px; 
    flex: 0 1 25%;
}
@media(max-width: 1020px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}
@media(max-width: 560px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}
.advantages__item {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}
.advantages__item > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
/*поскольку все иконки разных размеров, задача - выровнять их по нижней линии*/
.advantages__icon {
    /*высота самой высокой иконки - 48px*/
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value {
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
}
.advantages__text {
    color: #737373;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: calc(24 / 16 * 100%);
}
/*------------------------------------------------------------------------------------*/
.practice {
    padding: 125px 0px 80px 0px;
}
@media(max-width: 993px){
    .practice {
        padding: 40px 0px 80px 0px;
    }  
}
@media(max-width: 767px){
    .practice {
        padding: 0px 0px 40px 0px;
    }  
}
.practice__container {
}
.practice__header {
    margin: 0px 0px 45px 0px;
}
@media(max-width: 767px){
    .practice__header {
        margin: 0px 0px 25px 0px;
    } 
}
.practice__body {
    margin: 0px -20px -30px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    padding: 0px 20px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}
@media(max-width: 1040px) {
    .practice__column {
        flex: 0 1 50%;
    }
}
@media(max-width: 630px) {
    .practice__column {
        flex: 0 1 100%;
    }
}
.practice__item {
}
.item-practice {
    background-color: #fff;
    /*display+flex-dir+height - для выравнивания карточек по высоте*/
    display: flex;
    flex-direction: column;
    /*задание высоты в 100% от высоты родительского контейнера*/
    height: 100%;
}
.item-practice__content {
    padding: 30px;
    /*flex элементы с большим количеством содержимого карточки будут больше*/
    flex: 1 1 auto;
}
.item-practice__link {
    color: inherit;
    /*для ссылок - строчных объектов - не будет действовать внешний отступ margin, поэтому прописываем inline-block*/
    display: inline-block;
}
.item-practice__link:not(:last-child) {
    margin: 0px 0px 15px 0px;
}
.item-practice__link:hover {
    text-decoration: underline;
}
.item-prectice__title {
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    font-weight: 700;
    letter-spacing: 0.1px;
}
.item-practice__text {
    color: #737373;
    line-height: calc(20 / 14 * 100%);
}
.item-practice__image {
    display: block;
    /*нижний отступ вычисляется как 138/230*100% - согласно размерам картинки*/
    padding: 0px 0px 60% 0px;
}
/*------------------------------------------------------------------------------------*/
.whoweare {
    background-color: #fff;
    padding: 100px 0px 130px 0px;
}
@media(max-width: 950px) {
    .whoweare {
        padding: 50px 0px 50px 0px;
    }
}
@media(max-width: 767px) {
    .whoweare {
        padding: 20px 0px 50px 0px;
    }
}
.whoweare__container {
}
.whoweare__header {
    margin: 0px 0px 100px 0px;
}
@media(max-width: 950px) {
    .whoweare__header {
        margin: 0px 0px 30px 0px;
    }
}
.whoweare__body {
    display: flex;
    /*расположение видео(занимает 57% ширины) в начале перпендикулярной оси*/
    align-items: flex-start;
}
@media(max-width: 950px) {
    .whoweare__body {
        /*меняем положение колонок: сначала текст, затем видео*/
        flex-direction: column-reverse;
        /*элементы растягиваются вдоль поперечной оси, чтобы заполнить всего родителя whoweare__body*/
        align-items: stretch;
    }
}
.whoweare__video {
    /*600/1046*100%=57% - размер по макету, отведенный под видео блок; 600 - ширина блока видео по дизайну, 1046 - ширина flex контейнера*/
    flex: 0 0 57%;
    position: relative;
    /*442/1046*100%=42.25% - размеры нижнего отступа вычисляются из соображений "высота видео/размер flex-контейнера * 100%"*/
    padding: 0px 0px 42.25% 0px;
}
@media(max-width: 950px) {
    .whoweare__video:not(:last-child) {
        margin: 50px 0px 0px 0px;
        /*315/560*100%=56.25% - пропорции уже выстраиваем по параметрам видео*/
        padding: 0px 0px 56.25% 0px;
    }
}
@media(max-width: 767px) {
    .whoweare__video:not(:last-child) {
        margin: 30px 0px 0px 0px;
    }
}
.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.whoweare__content {
    /*блок автоматически подстраивает под ширину контента*/
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px;
}
@media(max-width: 1080px) {
    .whoweare__content {
        padding: 0px 0px 0px 50px;
    }
}
@media(max-width: 992px) {
    .whoweare__content {
        padding: 0px 0px 0px 20px;
    }
}
.whoweare__top:not(:last-child) {
    margin: 0px 0px 50px 0px;
}
@media(max-width: 767px) {
    .whoweare__top:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
}
.whoweare__title {
    font-weight: 800;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    letter-spacing: 0.2px;
}
@media(max-width: 950px) {
    .whoweare__title {
        font-size: 24px;
    }
}
/* отступ задаем таким образом на случай, если нижнего блока не будет(=> 10px не применятся) */
.whoweare__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.whoweare__text {
    color: #737373;
    line-height: calc(20 / 14 * 100%);
}
.whoweare__items {
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
    padding: 0px 0px 30px 0px;
}
.item-whoweare {
    display: flex;
}
.item-whoweare__icon {
    flex: 0 0 32px;
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
}
.item-whoweare__title:not(:last-child){
    margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
    color: #737373;
    line-height: calc(24 / 14 * 100%);
     /*текст выводится в строку + скрывается за троеточием; минус подхода - необходимо строго фиксировать ширину(в нашем случае указали 225px)*/
     white-space: nowrap;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
}