/* Обнуление стилей */

*,
*::before,
*::after {
    padding: 0px;
	margin: 0px;
	border: 0;
    /*размеры вычисляются, не включая границы и отступы*/
	box-sizing: border-box;
}

a  {
    text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

/* теги принимают на себя общий дизайн шрифта - наследуют родительский */
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

/* img имеет свойства строчного элемента, что в свою очередь означает, что элемент будет выравниваться по базовой линии текста
эта базовая линия предусмотрена под запятые, хвосты букв и тд, оттого и отступ */
/* для отсутствия снизу артефактного отступа, так как изображение по умолчанию display: inline-block, 
либо через подключение vertical-align - вертикального выравнивания */
img {
	vertical-align: top;
}

html,
body {
    min-height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
  }

.wrapper {
    min-height: 100%;
    overflow: hidden;
    /*располагаем все блоки последовательно - header, main, footer*/
    display: flex;
    flex-direction: column;
}

/*контейнер, не относящийся к БЭМ-методологии, технический - под контент*/
._container {
    max-width: 1046px;
    /* выстраивание блока посередине, ширина этого блока(1046px) должна быть меньше родительской */
    margin: 0px auto; 
    /*размеры вычисляются, включая границы и отступы + добавление padding для отсутствия прилипания к краю экрана*/
	box-sizing: content-box;
    padding: 0px 15px;
}

/*технический класс для фоновых изображений*/
._ibg  {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*-----------------------------------------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /*больший индекс выдвигает блок на первый план*/
    z-index: 50;
}
.header__container {
    display: flex;
    /*по дизайну в фигме*/
    min-height: 104px;
    align-items: center;
}
/*меньшая высота шапки при меньшем размере экрана*/
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    /*ссылки не наследуют цвет - нужно указать явно*/
    color: inherit;
}
.header__menu {
    margin: 0px 0px 0px 133px;
}
/*до 992px - устройства с маленьким экраном: планшеты*/
@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
/*для мобильных устройств*/
@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}
/*уменьшаем отступ для увеличения шрифта пунктов меню*/
@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}
.menu {
    /*отступы безопасности против "прилипания" элементов меню к верху экрана*/
    padding: 5px 0px;
}
.menu__list {
    display: flex;
    /*для переноса элементов шапки - предусматриваем добавление пунктов меню в будущем*/
    flex-wrap: wrap;
}
.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}
.menu__link {
    color: #737373;
    font-weight: 600;
    /*Pixel (Px) = (Percent * Base)/100*/
    line-height: 171%;
    /*line-height: calc(24/14*100)*/
}
/*легче попадать по большему размеру пунктов меню*/
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}
/*------------------------------------------------------------------------------------*/
.page {
    /*flex элементы с большим количеством содержимого будут больше(относительный размер flex элементов)*/
    flex: 1 1 auto;
}
.page__main-block {
}
/*------------------------------------------------------------------------------------*/
.footer {

}
.main-block {
    position: relative;
}
.main-block__container {
}
.main-block__body {
    /*отступы под контент по дизайну*/
    padding: 184px 0px 191px 0px;
    /*выносим контент на передний план(иначе будет скрыт за картинкой): position: relative + z-index*/
    position: relative;
    z-index: 2;
    /*ограничитель под контент(по дизайну было другое значение, 
    но мы можем менять исходя из того, что по дизайну другое отображение текста)*/
    max-width: 400px;
}
@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}
/*отступ для всех объектов(блочных) первого уровня, которые будут находиться в .main-block__body*/
/*контент меняется, а вёрстка остаётся адаптивной и страница визуально выглядит очень хорошо, 
даже если начать убирать элементы из .main-block__body*/
.main-block__body >*:not(:last-child) {
    padding: 0px 0px 35px 0px;
}
.main-block__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
    font-weight: 800;
}
@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}
.main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
}
@media(max-width: 992px) {
    .main-block__text {
        color: #585757;
    }
}
.main-block__buttons {
    display: flex;
}
/*"универсальная" верстка кнопочек - подстраиваются под размер контента*/
.main-block__button {
    border-radius: 37px;
    min-height: 48px;
    letter-spacing: 0.2px;
    font-weight: 700;
    /*по дизайну было вычислено 200%, но мы можем на своё усмотрение изменить до меньшего размера, чтобы визуально было лучше*/
    line-height: 150%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 36px;
}
.main-block__button:not(:last-child) {
    margin: 0px 10px 0px 0px;
}
.main-block__button_orange {
    background: #ff7b47;
    color:#fff;
}
.main-block__button_border {
    color: #0d5c63;
    border: 1px solid #0d5c63;
}
/*позиционирование непосредственно самого блока, который содержит картинку*/
.main-block__image {
    /*position: absolute относительно .main-block*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*отображение людей при маленьких размерах экранов*/
@media(max-width: 1300px) {
    .main-block__image img{
        object-position: right;
    }
}
/*выбеливаем картинку для читабельности текста*/
@media(max-width: 992px) {
    .main-block__image {
        opacity: 0.5;
    }
}